@font-face {
  font-family:Americana;
  src: url(AmericanaFontRegular.otf);
}

@font-face {
  font-family:Quattrocento;
  src: url(QuattrocentoSansRegular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

html {
  background-color: #efecec;
  font-size: 16px;
}

 /*färg sikr design #efecec; */

.bakgrund-main {
  grid-column: 5 / span 9;
  grid-row: 2 / span 12;
  background-color: rgb(227, 227, 227);
  border-radius: 10px 0px 0px 10px; 
  z-index: -2;
}

.bakgrund-aside {
  grid-column: 14 / span 3;
  grid-row: 2 / span 12;
  background-color: rgb(199, 199, 199);
  border-radius: 0px 10px 10px 0px;
  z-index: -2;
}

.grid-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr) ;
  grid-template-rows: auto;
  margin-left: calc(20px + (280) * ((100vw - 768px) / (1920 - 768)));
  margin-right: calc(20px + (280) * ((100vw - 768px) / (1920 - 768)));
  margin-top:10px;
  margin-bottom:10px ;
}

.button-container {
  grid-column: 1 / span 16;
  grid-row: 1 / span 1;
  display: flex;
  align-self: start;
  justify-content: center;
  padding: 1vw 0vw 1vw 0vw;
  
}

button {
  margin: 0px 1vw 2vw 1vw;
  font-size: calc(20px + (2) * ((100vw - 660px) / (1260 - 660)));
  font-family: 'Times New Roman', Times, serif;
  border-radius: 10px;
  border: none; /* Remove all borders */
  border-bottom: 1px solid black; /* Add a solid line under the button */
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.5vw 1.6vw 0.5vw 1.6vw;
}

.hamburger-meny {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: calc(25px + (15) * ((100vw - 320px) / (660 - 320)));
  height: calc(3px + (1) * ((100vw - 320px) / (660 - 320)));
  background: rgb(0, 0, 0);
  margin: calc(4px + (1) * ((100vw - 320px) / (660 - 320)));
}

.bild-container {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  display: flex; /* Aktiverar flexbox */
  justify-content: center; /* Centrerar horisontellt */
  align-items: start; /* Justerar till toppen vertikalt */ 
}

.bild-container img {
  max-width: 70%;
  object-fit: contain;
  z-index: -2;
}

.skills-container{
  grid-column: 1 / span 4;
  grid-row: 3 / auto;
  display: flex-column; /* Aktiverar flexbox */
  justify-content: center; /* Centrerar horisontellt */
  align-items: center; /* Justerar till toppen vertikalt */
  z-index: -2;
  padding: 1vw 1.5vw 1.5vw 1.5vw;
}

.cv-container {
  grid-column: 5 / span 12;
  grid-row: 2 / span 12;
  display: grid; /* Declare it as a grid container */
  grid-template-columns: repeat(4, 1fr); /* Define the grid layout for the children */
  grid-template-rows: auto;
  border-radius: 10px;
}

#befattning12 {grid-column: span 3; }
#datum12 {grid-column: span 1; grid-row: span 2; }
#beskrivning12 {grid-column: span 3;}

#befattning11 {grid-column: span 3; }
#datum11 {grid-column: span 1; grid-row: span 2; }
#beskrivning11 {grid-column: span 3;}

#befattning10 {grid-column: span 3; }
#datum10 {grid-column: span 1; grid-row: span 2; }
#beskrivning10 {grid-column: span 3;}

#befattning9 {grid-column: span 3; }
#datum9 {grid-column: span 1; grid-row: span 2; }
#beskrivning9 {grid-column: span 3;}

#befattning8 {grid-column: span 3; }
#datum8 {grid-column: span 1; grid-row: span 2; }
#beskrivning8 {grid-column: span 3;}

#befattning7 {grid-column: span 3; }
#datum7 {grid-column: span 1; grid-row: span 2; }
#beskrivning7 {grid-column: span 3;}

#befattning6 {grid-column: span 3; }
#datum6 {grid-column: span 1; grid-row: span 2; }
#beskrivning6 {grid-column: span 3;}

#befattning5 {grid-column: span 3; }
#datum5 {grid-column: span 1; grid-row: span 2; }
#beskrivning5 {grid-column: span 3;}

#befattning4 {grid-column: span 3; }
#datum4 {grid-column: span 1; grid-row: span 2; }
#beskrivning4 {grid-column: span 3;}

#befattning3 {grid-column: span 3; }
#datum3 {grid-column: span 1; grid-row: span 2; }
#beskrivning3 {grid-column: span 3;}

#befattning2 {grid-column: span 3; }
#datum2 {grid-column: span 1; grid-row: span 2; }
#beskrivning2 {grid-column: span 3;}

#befattning1 {grid-column: span 3; }
#datum1 {grid-column: span 1; grid-row: span 2; }
#beskrivning1 {grid-column: span 3;}



h3 {
  margin: 0;
  font-size: clamp(1rem, 1vw, 1.25rem);
  padding: 1.5vw 1.5vw 0.5vw 1.5vw;
}

.skills-container h3 {
  align-items: flex-start;
  text-align: center;
  padding: 0;
  padding-top: 0.5vw;
  font-size: calc(16px + (2) * ((100vw - 320px) / (1260 - 320)));
}

h2 {
  margin: 0;
  font-size:calc(20px + (2) * ((100vw - 320px) / (1260 - 320)));
  padding: 1.5vw 1.5vw 0vw 1.5vw;
}

p {
  margin: 0;
  font-size: calc(16px + (2) * ((100vw - 320px) / (1260 - 320)));
  padding: 1vw 1.5vw 1vw 1.5vw;
}

ul {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

li {
  margin: 0;
  font-size: calc(16px + (2) * ((100vw - 320px) / (1260 - 320)));
  padding: 0;
  padding-top: 0.5vw ;
  padding-bottom: 0.5vw ;
  text-align: left;
  }

.brev-container {
  grid-column: 5 / span 9;
  grid-row: 2 / span 12;
  display: grid; /* Declare it as a grid container */
  grid-template-columns: repeat(4, 1fr); /* Define the grid layout for the children */
  grid-template-rows: auto; /* Each child gets its own row */
}

.personligtBrev {
  grid-column: 1 / span 4;
  grid-row: 1 / span 12;
}

.maskin-container {
  grid-column: 14 / span 3;
  grid-row: 2 / span 12;
  display: flex; /* Aktiverar flexbox korrekt */
  flex-direction: column; /* Lägger barnen i en vertikal kolumn */
  justify-content: space-around; /* Fördelar bilderna jämt i Y-led */
  align-items: center; /* Centrerar bilderna horisontellt */
  height: 100%; /* Se till att container har tillräcklig höjd */
  padding: 1.5vw;
}

.contact-container {
  grid-column: 5 / span 9;
  grid-row: 2 / span 12;
  display: grid;
  grid-template-columns: 2, 1fr;
  grid-template-rows: 5, auto;
  gap: calc(6px + (14) * ((100vw - 320px) / (1900 - 320)));
  padding: 1.5vw 1.5vw 0.5vw 1.5vw;
  align-self: start;
}

.contact-container h2{
  padding: 0;
  grid-column: span 2;
}

.form-input,
.form-textarea {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  height: calc(30px + (15) * ((100vw - 320px) / (1900 - 320)));
  font-size: calc(15px + (5) * ((100vw - 320px) / (1900 - 320)));
  border: 1px solid darkgray;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  justify-self: center;
  padding-left: calc(4px + (6) * ((100vw - 320px) / (1900 - 320)));
}

#contact-text {
  grid-column: span 2;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.form-textarea {
  height: calc(150px + (170) * ((100vw - 320px) / (1900 - 320)));
  resize: vertical;
  padding-top: calc(4px + (6) * ((100vw - 320px) / (1900 - 320)));
}

#name {
  grid-column: span 1;
}

#email {
  grid-column: span 2;
}

#message {
  grid-column: span 2;
}

#reset-button, #submit-button {
  margin: 0;
  justify-self: center;
}

.form-input:focus,
.form-textarea:focus {
  border-color: black; /* Highlight border on focus */
}

.maskin-container img {
  max-width: 80%;
}

.games-container {
  grid-column: 1 / span 16;
  grid-row: 2 / span 14;
}

#calculator{
  width: 100%;
  height: 600px;
}

.hidden {
display: none !important;
}

.active {
background-color: gray; /*aktiva knappen */
color: white;
pointer-events: none; /* Inaktiverar hover, klick etc. */
}

/* Grundfärg för inaktiva knappar */
nav button:not(.active) {
background-color: rgba(239, 236, 236, 0); /* Fully transparent */
color: black;
}

/* Hover-effekt endast på den andra knappen (inte aktiv) */
nav button:not(.active):hover {
background-color: lightgray;
color: black;
}

h2 br {
  display: none;
}

li br{
  display: none;
}

.skills-dropDown{
  display: none;
}

.shop-container {
  grid-column: 1 / span 16;
  grid-row: 2 / span auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  font-family: Quattrocento, sans-serif;
  
}

.shopText{
  margin: 2.5rem;
  margin-top: 1rem;
  
}

.shop-container h2{
  font-family: Americana, serif;
  /* font-size: calc(0.3rem + 2.1vw); */
  font-size: calc(16px + (35 - 16) * ((100vw - 320px) / (1260 - 320)));
  font-weight: 4;
  color: #252525;
  padding: 0;
  padding-bottom: 1.2rem;
}

.shop-container p{
  font-size: calc(0.5rem + 0.6vw);
  font-weight: 2;
  color: #252525;
  opacity: 70%;
  word-spacing: 2px;
  line-height: 29px;
  letter-spacing: 0.06rem;
  padding: 0;
  padding-bottom: 1.5rem;
}

.shopBild{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

#shopNav {
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  align-self: center;
  justify-self: center;
  margin: calc(5px + (20 - 5) * ((100vw - 320px) / (1260 - 320)));
}

.shopNavigering a {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  color: #252525bf;
  font-size: 14px;
  text-decoration: none;
}

.shopNavigering :nth-child(1){
  text-decoration: underline;
  text-underline-offset: 4px;
}

.shopNavigering :nth-child(2):hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.shopNavigering :nth-child(3):hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

.shopNavigering :nth-child(4):hover{
  text-decoration: underline;
  text-underline-offset: 4px;
}

#shopLogga {
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  align-self: start;
  justify-self: center;
}

#shopLogga img {
  max-height: 60px;
  object-fit:cover;
}

#guldHylla {
  grid-column: 1 / span 1;
  grid-row:  3 / span 1;
  border-radius: 5px 0px 0px 5px;
}

#elegant{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#silverHylla {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  border-radius: 0px 5px 5px 0px;
}

#luxurious {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#bronsHylla {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  border-radius: 5px 0px 0px 5px;
}

#practical {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#svartHylla {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  border-radius: 0px 5px 5px 0px;
}

#romantic {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.katalogButton {
  display: inline-block;
  font-size: 1rem;
  color: #efecec;
  background-color: #2c332f; /* Mörkgrå nyans */
  text-decoration: none;
  border-radius: 5px; /* Ger rundade hörn */
  border: none;
  font-weight: 400;
  transition: transform 0.2s ease-in-out;
  height: 2.8rem;
  width: 11.25rem;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  
}

.katalogButton:hover {
  transform: scale(1.025);
}

.calc-container {
  grid-column: span 16;
  font-family: Arial, sans-serif;
  margin-bottom: calc(50px + (150) * ((100vw - 320px) / (1920 - 320)));;
}

.calc-container h2{
  padding: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}
.calc-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.calc-container input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
}
.games-container button{
  margin: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

.generate-button {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 10px; /* Adds spacing between the buttons */
}

.generate-button button {
  width: 50%;
}

.generate-button button:hover {
  /* background-color: limegreen; */
  background-color: lightgray;
}

.generate-button button:nth-child(2):hover {
  /* background-color: red; */
  background-color: lightgray;
}

.output-container {
  position: relative;
  margin: 0;
}
.output {
  background-color: white;
  border-radius: 5px;
  font-family: monospace;
  white-space: pre-wrap;
  border: 1px solid #000000;
  min-height: 3rem;
  overflow: hidden;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
}
.output-container button {
  margin-top: 10px;
  background-color: white;
}
.output-container button:hover {
  /* background-color: #007bff; */
  background-color: lightgray;
}

footer {
  grid-column: 1 / span 16;
  color: rgb(31, 26, 26);
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid black;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container p {
  font-size: 1rem;
}



@media (max-width: 750px) {

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr) ;
  grid-template-rows: auto;
  margin-left: calc(5px + (10) * ((100vw - 160px) / (750 - 160)));
  margin-right: calc(5px + (10) * ((100vw - 160px) / (750 - 160)));
}

.bild-container img {
  max-width: 50%;
  padding: 0px;
  padding-top: 0.5rem;
  object-fit: contain;
}

.skills-dropDown {
  grid-column: span 16;
  grid-row: 3 / span auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-button {
  transition: background-color 0.3s ease;
  width: 90vw;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  background-color: #efecec;
}

.hidden-text {
  grid-column: span 16;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  text-align: left;
}

.hidden-text p {
  font-size: calc(15px + (5) * ((100vw - 320px) / (420 - 320)));
  padding: 0.25rem;
}

.hidden-text.show {
  max-height: 500px; /* Adjust based on content height */
  opacity: 1;
}

.skills-container,
.maskin-container {
  display: none;
}

.hamburger-meny {
  display: flex;
  padding-left: calc(5px + (25) * ((100vw - 320px) / (1260 - 320)));
  padding-top: calc(5px + (35) * ((100vw - 320px) / (1260 - 320)));
}

.button-container {
  opacity: 0;
  transform: translateY(-20px); /* Start slightly above */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none; /* Prevent clicks when hidden */
  flex-direction: column;
  width: 100%;
  background: #efecec;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: calc(10px + (40) * ((100vw - 320px) / (1260 - 320)));
  padding-right: calc(10px + (40) * ((100vw - 320px) / (1260 - 320)));
}

/* When menu is active */
.button-container.activeee {
  opacity: 1;
  transform: translateY(0); /* Move back to normal position */
  pointer-events: auto; /* Allow interactions */
}


.button-container button {
  margin: 10px 0;
}

.bild-container {
  grid-column: 1 / span 16;
  grid-row: 2 / span 1;
}

.bakgrund-main,
.bakgrund-aside {
  display: none;
}

.cv-container {
  grid-column: 1/ span 16;
  grid-row: 4 / span 12;
}

.contact-container{
  grid-column: 1 / span 16;
  grid-row: 3;
  background-color: #efecec;
  padding-top: calc(15px + (15) * ((100vw - 320px) / (660 - 320)));
}


#befattning12 {grid-column: span 4; }
#datum12 {grid-column: span 4; }
#beskrivning12 {grid-column: span 4;}

#befattning11 {grid-column: span 4; }
#datum11 {grid-column: span 4; }
#beskrivning11 {grid-column: span 4;}

#befattning10 {grid-column: span 4; }
#datum10 {grid-column: span 4; }
#beskrivning10 {grid-column: span 4;}

#befattning9 {grid-column: span 4; }
#datum9 {grid-column: span 4; }
#beskrivning9 {grid-column: span 4;}

#befattning8 {grid-column: span 4; }
#datum8 {grid-column: span 4; }
#beskrivning8 {grid-column: span 4;}

#befattning7 {grid-column: span 4; }
#datum7 {grid-column: span 4; }
#beskrivning7 {grid-column: span 4;}

#befattning6 {grid-column: span 4; }
#datum6 {grid-column: span 4; }
#beskrivning6 {grid-column: span 4;}

#befattning5 {grid-column: span 4; }
#datum5 {grid-column: span 4; }
#beskrivning5 {grid-column: span 4;}

#befattning4 {grid-column: span 4; }
#datum4 {grid-column: span 4; }
#beskrivning4 {grid-column: span 4;}

#befattning3 {grid-column: span 4; }
#datum3 {grid-column: span 4; }
#beskrivning3 {grid-column: span 4;}

#befattning2 {grid-column: span 4; }
#datum2 {grid-column: span 4; }
#beskrivning2 {grid-column: span 4;}

#befattning1 {grid-column: span 4; }
#datum1 {grid-column: span 4; }
#beskrivning1 {grid-column: span 4;}


h2 br {
  display: block;
}

p {
  padding-bottom: 2.5vw;
}

.brev-container {
  grid-column: 1 / span 16;
  grid-row: 3 / span 12; 
}

#guldHylla {
  grid-column: 1 / span 2;
  grid-row:  3 / span 1;
  border-radius: 5px;
}

#elegant{
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#silverHylla {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  border-radius: 5px;
}

#luxurious {
  grid-column: 1 / span 2;
  grid-row: 6 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#bronsHylla {
  grid-column: 1 / span 2;
  grid-row: 7 / span 1;
  border-radius: 5px;
}

#practical {
  grid-column: 1 / span 2;
  grid-row: 8 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

#svartHylla {
  grid-column: 1 / span 2;
  grid-row: 9 / span 1;
  border-radius: 5px;
}

#romantic {
  grid-column: 1 / span 2;
  grid-row: 10 / span 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.shop-container h2{
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 1.5rem;
  font-size: calc(1rem + 2.2vw);
}

.shop-container p{
  font-size: calc(0.4rem + 2.2vw);
  line-height: calc(1rem + 2.2vw);;
}

}

@media (min-width: 750px) and (max-width: 1150px) {

.skills-container{
  padding-left: 0;
}

  #befattning12 {grid-column: span 4; }
  #datum12 {grid-column: span 4; }
  #beskrivning12 {grid-column: span 4;}
  
  #befattning11 {grid-column: span 4; }
  #datum11 {grid-column: span 4; }
  #beskrivning11 {grid-column: span 4;}
  
  #befattning10 {grid-column: span 4; }
  #datum10 {grid-column: span 4; }
  #beskrivning10 {grid-column: span 4;}
  
  #befattning9 {grid-column: span 4; }
  #datum9 {grid-column: span 4; }
  #beskrivning9 {grid-column: span 4;}
  
  #befattning8 {grid-column: span 4; }
  #datum8 {grid-column: span 4; }
  #beskrivning8 {grid-column: span 4;}
  
  #befattning7 {grid-column: span 4; }
  #datum7 {grid-column: span 4; }
  #beskrivning7 {grid-column: span 4;}
  
  #befattning6 {grid-column: span 4; }
  #datum6 {grid-column: span 4; }
  #beskrivning6 {grid-column: span 4;}
  
  #befattning5 {grid-column: span 4; }
  #datum5 {grid-column: span 4; }
  #beskrivning5 {grid-column: span 4;}
  
  #befattning4 {grid-column: span 4; }
  #datum4 {grid-column: span 4; }
  #beskrivning4 {grid-column: span 4;}
  
  #befattning3 {grid-column: span 4; }
  #datum3 {grid-column: span 4; }
  #beskrivning3 {grid-column: span 4;}
  
  #befattning2 {grid-column: span 4; }
  #datum2 {grid-column: span 4; }
  #beskrivning2 {grid-column: span 4;}
  
  #befattning1 {grid-column: span 4; }
  #datum1 {grid-column: span 4; }
  #beskrivning1 {grid-column: span 4;}

  .bakgrund-aside {
    background-color: rgb(227, 227, 227);
  }

  li {
    list-style-type: none;
  }

  li br{
    display: block;
  }

.maskin-container {
  background-color: rgb(199, 199, 199);
  border-radius: 0px 10px 10px 0px;
}

p {
  padding-bottom: 2vw;
}

.shop-container h2{
  padding: 0;
  padding-bottom: 0.5rem;
}

.shop-container p{
  font-size: calc(0.4rem + 0.9vw);
  font-weight: 2;
  color: #252525;
  opacity: 70%;
  word-spacing: 1.6px;
  line-height: calc(0.1rem + 2.6vw);
  letter-spacing: 0.05rem;
  padding: 0;
  padding-bottom: 0.8rem;
}

.katalogButton {
  width: 10rem;
  height: 2.1rem;
}

}
